################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XProficiencyExercise/XProficiencyExercise/XProficiencyExercise/bin
/XProficiencyExercise/XProficiencyExercise/XProficiencyExercise/obj
/XProficiencyExercise/XProficiencyExercise/XProficiencyExercise.Android/bin
/XProficiencyExercise/XProficiencyExercise/XProficiencyExercise.Android/obj
/XProficiencyExercise/XProficiencyExercise/XProficiencyExercise.iOS/obj
/XProficiencyExercise/.vs/XProficiencyExercise/v15/Server/sqlite3
